/*
@东南巽司坤 版权所有
*/
/* 
    Created on : 2019-3-24, 12:07:41
    Author     : 86151
*/

html > body{
	background-color:#FAFAFA;
}
.card{
	margin:50px auto;
}
.card.mdl-card {
	width: 512px;
}
.card > .mdl-card__title {
	color: #fff;
	height: 176px;
	background: url('https://getmdl.io/assets/demos/welcome_card.jpg') center / cover;
}